@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;600&family=Quantico:wght@400;700&family=Special+Elite&family=Wix+Madefor+Text:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Newsreader:ital,opsz,wght@0,6..72,300;1,6..72,300&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: rgb(215, 214, 213);
    color: rgb(67, 65, 63);
}

#title-container {
    display: inline-block;
    width: 100vw;
    max-height: 100vh;
    min-height: 1000px;
}
#title {
    display: inline-block;
    font-family: 'Cinzel';
    width: 100%;
    font-size: 4em;
    text-align: center;
    position: relative;

    margin-top: 300px;
}
#subtitle {
    display: inline-block;
    font-family: 'Cinzel';
    width: 100%;
    font-size: 1.5em;
    position: relative;
    text-align: center;
}

#information {
    width: 100%;
    padding-bottom: auto;
    display: flex;
}
#information-box {
    width: 100%;
    padding-bottom: 600px;
    display: flex;
}
#button-hover {
    transition: color, 0.125s ease-in-out;
}
#button-hover:hover {
    cursor: pointer;
    background-color: rgb(190, 188, 186);
}
.left-information {
    background-color: rgb(195, 193, 190);
}
.right-information {
    background-color: rgb(113, 109, 106);
}
#information-title {
    display: inline-block;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 70px;
    font-size: 60px;
    font-family: 'Cinzel', sans-serif;
}

.europe-map {
    background-image: url('./europe_map.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: calc(100% - 50px);
    height: calc(100% + 550px);
    margin-left: 25px;
    margin-top: 25px;
}
.arrival-map {
    background-image: url('./arrival_map.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: calc(100% - 50px);
    height: calc(100% + 550px);
    margin-left: 25px;
    margin-top: 25px;
}


#quote {
    width: 100px;
    height: 70px;
    display: block;
    font-size: 120px;
    margin: auto;
    margin-top: 80px;
    font-family: 'Cormorant Garamond', sans-serif;
    text-align: center;
}
#sub-quote {
    width: calc(100% - 150px);
    display: block;
    font-size: 25px;
    margin: auto;
    margin-bottom: 20px;
    font-family: 'Cormorant Garamond', sans-serif;
}
.highlight {
    background-color: rgb(161, 126, 126);
}
#highlight-mark {
    background-color: rgb(177, 192, 183);
    padding-left: 10px;
    padding-right: 10px;
}

#backgroundgl {
    width: 100%;
    max-height: 100vh;
    min-height: 1000px;
    position: absolute;
}

#part-1 {
    background-image: url('./pt1.png');
    width: 100%;
    height: 550px;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#part-2 {
    background-image: url('./pt2.png');
    width: 100%;
    height: 550px;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#part-3 {
    background-image: url('./pt3.png');
    width: 100%;
    height: 550px;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#part-4 {
    background-image: url('./pt4.png');
    width: 100%;
    height: 550px;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#part-5 {
    background-image: url('./pt5.png');
    width: 100%;
    padding-bottom: 100%;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}